body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    background: #aeaeff;
}

header {
    width: 100%;
    height: 50px;
    background: linear-gradient(#43437b, #0d0d33, #232386);
    color: #aeaeff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

#logo {
    margin: 0 10px;
}

#main {
    display: flex;
    justify-content: center;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
    margin: 0 10px;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav>ul>li {
    list-style: none;
    color: #aeaeff;
    margin: 0 0.2rem;
    padding: 0;
    display: flex;
}

nav>ul>li:hover {
    background: linear-gradient(#aeaeff, #c4c4ee, #7070ad);
    color: #43437b;
    cursor: pointer;
}

li>a:hover {
    color: inherit;
}

li>a {
    color: inherit;
    text-decoration: none;
}

img {
    display: flex;
    margin-top: auto;
    border-radius: 20px;
    width: 200px;
    height: auto;
    aspect-ratio: 4/5;
    justify-self: center;
}

.box {
    width: max(300px, 30%);
    margin: 10px auto;
    display: flexbox;
    justify-content: center;
    border: 0.5em ridge #43437b;
}

.img-div {
    display: block;
    justify-content: center;
}

#img-caption {
    visibility: hidden;
}

form {
    width: 100%;
}

#tribute-link {
    margin: 0;
    justify-self: center;
    color: linear-gradient(#43437b, #0d0d33, #232386);
}